[2015-10-22 14:00] gavinlove opened #4 "plugin ensure: removed"
If you specify ensure:removed for a plugin it will remove it on the first run but when you run it again you get an error as it tries to remove a plugin that is not there.

[2015-10-22 14:01] eddmann opened #5 "Better error messages from Kong API"
It would be nice to have between error messages which can be retrieved from the Kong API when an error occurs

[2015-10-22 14:05] gavinlove commented on #4
You get for example

[code]

[2015-10-22 14:07] gavinlove opened #6 "Better error handling when --path is incorrect"
If you call kongfig without a path or with a bad path you get a crappy error message.

We should check the file exists and it it doesn't give a better error message.

[2015-10-22 14:27] #4 closed

[2015-10-23 12:03] #6 closed

[2015-10-27 18:47] gavinlove opened #10 "Add contributing section to readme"
We should add a section about how to contribute to this project and how to build it.

[2015-10-27 20:21] #5 closed

[2015-11-03 16:19] eddmann opened #14 "Remove all APIs and Consumers"
Add ability to remove all apis and consumers

[2015-11-18 11:03] dvxam opened #18 "Add option to dump/show current Kong config into YAML/JSON format"
Add ability to dump/show current kong config.

e.g. :
[code]

So you would be able to dump and (re-)load a kong "kongfig" like that :
[code]

I would love to associate a PR with this issue if the team ( @CyExy , @jerizm , @eddmann , @albarin , @gavinlove ) agrees it does feet with kongfig's puspose/use-cases.

[2015-12-04 18:05] gavinlove commented on #18
@dvxam we have now added this feature in 1.2 `kongfig dump --host localhost:8001 --format json`

[2015-12-04 18:05] #18 closed

[2015-12-04 18:06] #10 closed

[2016-01-13 16:49] JnMik opened #25 "Do you plan to have any docker support soon ?"

[2016-01-13 16:49] JnMik commented on #25
I can provide a dockerfile and some run command for volume mapping if you like :)

[2016-01-13 17:28] CyExy commented on #25
I have not thought about adding it to be honest. Might consider if there is a use case for it.

[2016-01-13 18:19] JnMik commented on #25
Well my thought on this is : Docker is getting more and more love, and kong also support docker, their image is available right there https://hub.docker.com/r/mashape/kong/

So for some infrastructure based only on docker servers, it's really interesting to have everything setup with something as simple as :

$ docker pull CyExy/kongfig
followed by
$ docker run -v api_definition.yml:/srv/app/api_d

[2016-02-03 15:57] JnMik opened #27 "Kongfig is not able at the moment to add 2 instances of the same plugin on the same API"
First request-transformer plugin will POST, second will PATCH the previous one.

Example of a non-working yaml file

[code]

Kong is actually capable of handling multiple instances.

Code from plugin route (/apis/4015094e-7a5f-44c7-bd3b-ff5ba533bd0e/plugins)
http://screencast.com/t/zWwu1bKr3ax

Anyone else would need that feature ?
@CyExy Did you encountered this issue ? Have you planned to add th

[2016-02-03 17:06] CyExy commented on #27
@JnMik Does kong allow more than one `request-transformer` plugin per consumer?

[2016-02-03 17:21] JnMik commented on #27
Yes, as you can see in my screencast link
(Did it with Postman)

[2016-02-03 18:30] CyExy commented on #27
@JnMik The screenshot has one without consumer_id and one with.

[2016-02-03 21:04] JnMik commented on #27
But they are both on the same API (which is my point).
I just wanted to show that kong allow it, but it's impossible to do with Kongfig.

[2016-02-03 21:12] CyExy commented on #27
If it only allows one per consumer it would be easier to implement

[2016-02-03 21:30] JnMik commented on #27
Well that would be a nice start I think

1 generic (consumer_id undefined)
and
1 per consumer (usually all configs per consumer should be in the same request-transformer)

[2016-02-12 02:24] JnMik commented on #25
https://github.com/mybuilder/kongfig/pull/28

I did that, should help stuff get started :)

[2016-02-24 20:45] gsidebo opened #29 "Kong does not require 'username' for consumer, Kongfig thinks it does"
At some point, Kong may have required 'username' to be specified for a new consumer, but it doesn't anymore: https://getkong.org/docs/0.6.x/admin-api/#create-consumer. Either "username" or "custom_id" are accepted.

In general, what is the purpose of this kind of validation within Kongfig? Is it not adequate to just make the request to Kong without validation and let Kong issue its own errors? Mig

[2016-04-20 16:43] vl4d opened #30 "Paginating Support (consumers endpoint)"
While running kongfig, I ran into a problem where I have approx 300+ consumers; which would require to request consumers in increments as there is a limit of 100 on the endpoint at the moment. It results in:

to be outputted into the output file.

Is pagination support being considered? I may take a shot at adding it in.

[2016-04-27 15:30] JnMik commented on #30
I have not reached the 300+ consumers yet, but I will def. need this in a near future.

So +1 for your effort of adding it in if you do ! :)

[2016-04-28 10:53] CyExy commented on #30
@vl4d Sorry for a late response. I can look into implementing something if you have not already started.

Are you managing these 300+ consumers using kong or you are using something else to do that? Basically would it be useful to have a config param that would turn off managing consumers through kongfig?

[2016-04-28 15:39] vl4d commented on #30
Thanks  for following up. We would love the optional param to turn off managing consumers through kong. (I hacked around and turned it off myself )

But yes I am managing the 300+ consumers in kong. We were migrating from cassandra to postgres when we noticed the problem. I have not started as yet as we automatically provision consumers in kong so it worked itself out. But the feature would be lov

[2016-05-05 12:41] chrisfarnham opened #31 "Add support for basic auth on the kong admin api itself"
If Kong is protected by username and password, kongfig should be able to take username and password as args and then access kong admin endpoint with those credentials.

[2016-05-06 03:35] forhot2000 opened #32 "can't dump kong config"
Hi,

when I dump kong config, I received an error:

[code]

my command is `kongfig dump --host kong:8001 --format screen`

node -version: 4.2
kong version: 0.5.1

[2016-05-12 18:02] JnMik opened #33 "Error while updating consumers"
TypeError: apis.map is not a function
 TypeError: apis.map is not a function
    at _callee3$ (/usr/local/lib/node_modules/kongfig/lib/kongState.js:35:49)
    at tryCatch (/usr/local/lib/node_modules/kongfig/node_modules/babel-regenerator-runtime/runtime.js:61:40)
    at GeneratorFunctionPrototype.invoke [as _invoke](/usr/local/lib/node_modules/kongfig/node_modules/babel-regenerator-runtime/runtim

[2016-05-15 02:32] DaniyalGeek opened #34 "rate limiting"
how to add limit for api i tried with
` "config.minute" : 5 `
but still getting error
[code]

[2016-05-17 12:48] CyExy commented on #34
Maybe you forgot to wrap the config into `attributes` (got the same error message when I did that):

The following worked for me
[code]

You can find more about the schema from the [readme#schema](https://github.com/mybuilder/kongfig#schema)

[2016-05-17 12:51] CyExy commented on #33
Does it happen consistently or sometimes? If possible could you post a config file that causes it.

[2016-05-17 13:51] JnMik commented on #33
Let me try to build a scenario where it happends everytime.
I'll work on this today.

[2016-05-17 13:57] CyExy commented on #31
Could you try `--host username:password@localhost:8001`?

[2016-05-17 15:12] CyExy commented on #32
Tested it on `0.5.1` with node `v4.1.0` and `v4.4.4` dumps the sample file config with added acls just fine.

I'm going to try and add more invariant checks in, and a debug option that should help clearing this up.

[2016-05-17 16:43] CyExy commented on #30
For a temporary remedy I published kongfig `1.2.6` that allows ignoring consumers by not included `consumers` attribute in the config file or using `--ignore-consumers` option when executing either `apply` or `dump` command.

[2016-05-17 17:13] JnMik commented on #33
Seems to only happens "sometimes".

I'm having a hard time building that scenario.. trying to reproduce production configs (where it currently happens) in dev with non-confidential values, but it's not working atm.

I'll update my progress later.

[2016-05-18 15:23] CyExy commented on #33
It may be because kongfig is a little chatty and if you have a lot of definitions to check then nginx may drop the connection at some point.

I just published `kongfig@1.2.7` that has a cache layer. It makes fewer requests to kong admin api after  the first runthrough, you should have a noticeable speed increase and this problem may improve. Saying that the cache has little effect on the first run

[2016-05-18 16:42] vl4d commented on #30
Awesome thanks for the flag. Will test it out. !

[2016-05-18 17:19] JnMik commented on #33
Ok I'll give it a try !

[2016-05-18 19:25] JnMik commented on #33
Still having the problem on one of my node in production, with 1.2.7.

This time it  seems it happens with consumers :

TypeError: consumers.map is not a function
 TypeError: consumers.map is not a function
    at _callee3$ (/usr/local/lib/node_modules/kongfig/lib/kongState.js:70:54)
    at tryCatch (/usr/local/lib/node_modules/kongfig/node_modules/babel-regenerator-runtime/runtime.js:61:40)
    a

[2016-06-02 08:46] gudubeth commented on #32
I have the same problem. Dump fails inside parseConsumers function because acls is not an array. The content of "state" is something like this before the function is called:

[code]

If I bypass acl mapping, it fails on parseCredentials function.

node version: 0.12.7
kong version: 0.7.0

[2016-06-02 09:34] CyExy commented on #32
Looks like some of the results are 404's. I think I have an idea why this is happening. Could you send me the result of `http://kong-admin/plugins/enabled`

[2016-06-02 13:43] gudubeth commented on #32
"transformations", "custom-jwt", "custom-router" are internal plugins developed in my company. Only "custom-jwt" uses consumers.

[code]

[2016-06-20 18:10] uhashimi opened #35 "Is there any way to encrypt basic-auth passwords in konfig configuration file?"
Currently, there seems to be no way to encrypt basic-auth passwords in Kongfig. It will be good to have this feature.

Something like following
[code]

[2016-06-24 10:53] anamarialazar opened #36 "Key-auth authentication failing"
Hi all,

I cannot make a request using the key authentication. My journey is below:

Config:
[code]

The config looks it was imported correctly:

Request: `curl localhost:8001/consumers`
Response:
[code]
Request: `
curl localhost:8001/consumers/admin/key-auth`
Response:
[code]
However when I try to actually use the key:

Request: `curl -H "apikey: ThisTokenIsNotSoSecretChangeIt" localhost:8000/pro

[2016-06-24 11:12] #34 closed

[2016-06-24 12:29] CyExy commented on #36
It did work for me, but I did had to fix some of the indentation issues of the config you provided. I suspect that may have occurred while pasting into github but worth mentioning.

The final config I used was as follows:

[code]

"No API Key found in headers, body or querystring" response suggest that `key-auth` plugin has not been properly setup for `api_products`

You could try dumping the conf

[2016-06-24 13:09] anamarialazar commented on #36
Thanks for the quick response

`curl http://localhost:8001/apis/api_products/plugins` returns the correct config:

[code]

When I dump the config:

[code]

[2016-06-24 14:12] CyExy commented on #36
This is a bit of a long shot but got it failing with the same error when I added another api definition with matching `request_host`

Do you have any other api definition in the dump? If yes does any of them have `request_host` matching the one sent in the curl request e.g. `request_host: products.app.internal`?

you could try this

[code]

[2016-06-24 15:32] anamarialazar commented on #36
There are no other APIs definition in the config.

The request you specified returns:
[code]

[2016-06-28 14:30] gudubeth opened #37 "Kongfig doesn't permit custom credentials plugins"
I have a custom JWT credential plugin. When I try to run `kongfig apply` with this plugin configuration, it returns the error below:

    Error: Unknown credential "custom-jwt"

When I checked the code I saw that kongfig [checks if consumer credential is defined](https://github.com/mybuilder/kongfig/blob/master/src/core.js#L51) based on an [object named `consumerCredentialSchema`](https://github.c

[2016-06-28 20:05] CyExy commented on #37
I started implementing support for custom plugins a while back but got busy with other commitments #32 shares the same issue

[2016-06-28 20:08] CyExy commented on #37
PR is always welcome ;)

I'll find some time to finish it off

[2016-07-12 13:39] gudubeth commented on #37
Do you have a suggestion for how to implement this feature? Current implementation needs consumerCredentialSchema.

[2016-07-12 15:14] CyExy commented on #37
Probably the easiest solution would be to allow extending the `consumerCredentialSchema` with config. It would be best to extract `consumerCredentialSchema` to another file and adding a method that allows appending custom schemas from config before executing either `apply` or `dump`. This stuff doesn't change anyway turning the execution so being global doesn't really make a big difference.

[2016-07-14 02:37] #35 closed

[2016-07-20 17:11] jmdacruz opened #42 "Idempotency and a "destroy" operation"
I'm thinking about `konfig` as a tool similar to `terraform` or `ansible`, in the sense that you provide a description of what you want your environment to be, and the tool ensures that if the "apply" operation is successful you'll end up with the same configuration every time. In that sense, a "destroy" operation should do the exact oposite, that is, destroy the resources described on the config

[2016-07-20 22:28] #37 closed

[2016-07-20 23:15] CyExy commented on #42
You can apply a config file where `ensures` attribute is set to `removed` for an api or consumer, or any of their plugins, and it does exactly what it says on the tin.

`kongfig` allows for out of bounds apis and consumers, for example if you manage your consumers outside of kongfig, or when you would apply multiple config files to the same kong instance. The flip side is that you need to remember

[2016-07-20 23:32] CyExy opened #43 "Fatal error when acls plugin is disabled on Kong"
`kongfig dump` and `apply` should work when `acls` plugin is disabled on Kong.

Related #32

[2016-07-20 23:47] jmdacruz commented on #42
oh! cool... I missed that alternative. The `destroy` option would bring it closer to the behavior of terraform (not in production environments, but imagine a development or integration environment), but I think the `ensure: removed` keyword will do the trick for me. thanks!

[2016-07-20 23:47] #42 closed

[2016-07-28 21:26] jmdacruz opened #44 "Problem when using a host with an invalid SSL certificate"
In certain cases, we use self-signed certificates on development environments and such. In these situations, it's important to be able to ignore certificate issues such as the one below (caused by calling `kongfig dump --https --host ${HOSTNAME}`)

Is there a way to change this behavior?

[code]

[2016-07-29 18:24] jmdacruz commented on #44
I think I found the answer myself... since the call is finally routed to the `https` core module, then doing `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"` disables the warning. I can set this as an environment variable before calling `kongfig` (which would be something like `export NODE_TLS_REJECT_UNAUTHORIZED=0`) et voilà!

[2016-07-29 18:24] #44 closed

[2016-07-30 09:23] CyExy commented on #44
Good find, that would be a great addition to [README.md](https://github.com/mybuilder/kongfig/blob/master/README.md)

[2016-08-08 09:30] forhot2000 commented on #32
the plugins request has been rejected by kong server because there are too many connections

[code]

[2016-08-08 09:45] CyExy commented on #32
Interesting, it should keep the connection live. And reuse it. I'll investigate.

[2016-08-25 21:36] vl4d opened #46 "Fatal Error when creating jwt for consumer. relation "jwt_secrets" does not exist."
Have consumer with jwt and run the apply command.
May have to do with there being a relational constraint in the db for jwt?
`
ERROR: relation "jwt_secrets" does not exist (22), client: 172.17.0.1, server: , request: "GET /consumers/vlad-test/jwt HTTP/1.1", host: "localhost:8001"
`

[2016-08-26 15:59] #43 closed

[2016-09-29 08:01] Diwann commented on #29
when dumping my kong config with many consumers created through gelato, I have the following errors:

[2016-09-29 08:22] Diwann commented on #29
it's linked to: https://github.com/mybuilder/kongfig/blob/205a3de3713aae65cf7c5c62726887d97626f27c/src/kongState.js#L11
but why this test ?

[2016-10-05 01:31] jaygorrell commented on #32
I'm getting the same thing on this, except with enabled plugins:

[code]

I do have a single enabled plugin (jwt).

[2016-10-06 21:15] williamhorstkamp opened #50 "Can not dump or apply global plugins"
Kong supports the ability to add plugins globally (ie not to a specific consumer or api) by `POST`ing to `/plugins`.
Kongfig, however, does not currently have the ability to dump or apply global plugins.
Is this currently on your roadmap at all, or should I fork Kongfig and add the feature myself?

[2016-10-11 23:00] mandrewes commented on #32
I'm getting the same thing as above - I havent used babel before but it seems the polyfil is not working on my system.

[2016-10-27 10:55] 486 opened #52 "Option to sync config file as the "desired state" (except consumers)"
Hi,

For updating live deployments I would like to use kongfig to put my kong apis and their plugins in a "desired state". This would include removing apis or plugins that are no longer present in my config.yml.

Currently, kongfig just adds / updates objects and only when you explicitly use the `ensure: "removed"` directive it would delete stuff. But for a deployment it is very tedious to track w

[2016-10-27 13:29] #14 closed

[2016-10-27 19:23] williamhorstkamp opened #53 "Plugin "enabled" setting not supported by Kongfig."
In Kong you can disable a plugin by making a `patch` to `plugins/{plugin_id}` with the header `enabled` set to `false`.
This feature doesn't seem to be supported in Kongfig.

[2016-10-28 13:30] #50 closed

[2016-10-28 14:47] #30 closed

[2016-10-28 14:49] #31 closed

[2016-10-28 14:58] #53 closed

[2016-11-01 15:46] williamhorstkamp commented on #32
Getting
`TypeError: plugins.map is not a function
 TypeError: plugins.map is not a function
    at parseApiPlugins (/Users/wjhorstkamp/.nvm/versions/node/v6.3.0/lib/node_modules/kongfig/lib/readKongApi.js:147:20)
    at parseApiPluginsForSchemes (/Users/wjhorstkamp/.nvm/versions/node/v6.3.0/lib/node_modules/kongfig/lib/readKongApi.js:37:40)
    at /Users/wjhorstkamp/.nvm/versions/node/v6.3.0/lib/n

[2016-11-01 15:47] CyExy commented on #32
Strange I'll have a look.

[2016-11-01 16:50] CyExy commented on #32
@williamhorstkamp if you make a request to `curl http://localhost:8001/plugins` do you get something along the lines of `{"data":[{...}, {...}], "total" : 99}`?

[2016-11-01 16:53] CyExy commented on #32
Released `kongfig@1.2.13` that may help you, but it will skip dumping global plugins

[2016-11-01 16:54] jaygorrell commented on #32
@CyExy I can answer that.

[code]

[code]

[2016-11-01 16:55] jaygorrell commented on #32
@CyExy

[code]

[2016-11-01 16:56] CyExy commented on #32
`json.enabled_plugins.map` is different again, what version of kong are you running?

[2016-11-01 16:58] jaygorrell commented on #32
"version": "0.9.0"

[2016-11-01 17:02] williamhorstkamp commented on #32
@CyExy Yes, get requests to `/plugins/` return the response.
In this case I have 210 plugins.
There is seemingly nothing out of the ordinary with any calls to Kong's Admin API.

[2016-11-01 17:06] CyExy commented on #32
They reverted the change on `Kong@0.9.3` that fixes `json.enabled_plugins.map` error, but @jaygorrell try `kongfig@1.2.14` that should do the trick.

@williamhorstkamp does the envelope contains an list `{"data": []}` or a map `{"data": {}}`. If it is an array then there might be an issue with pagination.

[2016-11-01 17:08] williamhorstkamp commented on #32
Ahh, I see what you mean. It is returning `{"data": []}`

[2016-11-01 17:20] jaygorrell commented on #32
New error with 1.2.14, appears to be with my consumer using a custom id:

[code]

[2016-11-01 17:26] williamhorstkamp commented on #32
With 1.2.14 I get
[code]

[2016-11-01 17:27] CyExy commented on #32
Ok added a bit more error handling for responses `kongfig@1.2.15` it may be that some of the responses are non 2xx.

[2016-11-01 17:27] CyExy commented on #32
It would probably make more sense to back off a little and then retry.

[2016-11-01 17:28] jaygorrell commented on #32
No change in messaging for 1.2.15 for me

[2016-11-01 17:34] williamhorstkamp commented on #32
Now getting
[code]

[2016-11-01 17:43] CyExy commented on #32
@jaygorrell I think you are hitting #29 probably best to ignore consumers till this get added, run with `--ignore-consumers` option.

@williamhorstkamp `kongfig@1.2.16` adds retry and gives a little more info when it fails

[2016-11-01 17:44] jaygorrell commented on #32
Perfect, thanks @CyExy. I'm good on this specific issue, then, once others (@williamhorstkamp) are clear. Thanks for the help!

[2016-11-01 17:46] williamhorstkamp commented on #32
Here it is on 1.2.16
[code]

[2016-11-01 18:17] CyExy commented on #32
@williamhorstkamp try `kongfig@1.2.17`

@jaygorrell Thank you for helping out!

[2016-11-01 18:26] williamhorstkamp commented on #32
Same error @CyExy

[2016-11-01 18:38] CyExy commented on #32
Somehow one of the APIs that are coming down doesn't have a name nor an id. I'll try to fix it tomorrow (GMT). Thanks for reporting it!

[2016-11-01 18:45] williamhorstkamp commented on #32
Just let me know if I can help in any way, and thank you for jumping on this so quickly!

[2016-11-02 16:24] CyExy commented on #32
@williamhorstkamp kongfig@1.2.18 should now fail just before it tries to fetch the plugins, hopefully outputting the whole API definition.

[2016-11-02 16:28] williamhorstkamp commented on #32
@CyExy this is what I get with 1.2.18:
[code]

[2016-11-02 17:00] CyExy commented on #32
Looks like a Promise but how did it get there!?

[2016-11-02 17:08] CyExy commented on #32
Are you able to build from master? It would probably be easier then to publishing new versions for debugging.

[code]

[2016-11-02 17:34] williamhorstkamp commented on #32
Yea, I was able to build it.

[2016-11-02 18:08] CyExy commented on #32
Ok, hope `kongfig@1.2.19` fixes it.

[2016-11-02 18:19] CyExy commented on #32
FIY should be able to install it as usual.

[2016-11-02 18:32] williamhorstkamp commented on #32
Seemingly just hanging when I try to dump the offending kong configuration.
Still works fine on other, less complex, configurations.

[2016-11-02 18:34] williamhorstkamp commented on #32
I just have it running in a terminal window, hopefully it finishes at some point.

[2016-11-02 18:35] CyExy commented on #32
If you have a lot of data then it may take a while. How many consumers and apis do you have?

[2016-11-02 18:36] williamhorstkamp commented on #32
I am using the --ignore-consumers flag, 108 APIs each with 1-3 plugins.

[2016-11-02 18:41] CyExy commented on #32
Sounds like its in a loop.

[2016-11-02 18:56] williamhorstkamp commented on #32
[code]

[2016-11-02 18:59] williamhorstkamp commented on #32
Same error when trying to apply as well.

[2016-11-02 19:00] CyExy commented on #32
You are hitting some kind of rate limiting. Are you connecting directly to Kong or through a proxy?

[2016-11-02 19:03] williamhorstkamp commented on #32
We are using Kong as a proxy to itself. The only two plugins are key-auth and acl, which we are using to limit access to the admin consumer.

[2016-11-02 19:18] CyExy commented on #32
`kongfig@1.2.21` adds exponential backoff to retry that may help.

[2016-11-02 20:17] williamhorstkamp commented on #32
Same thing. Did a little experimenting.
When I hit `{{kong admin public dns}}/apis?size=100` I get a value for next like '{{kong internal elasticbeanstalk dns}}/apis?size=100&offset={{offset id}}.` If I try this link, the request hangs and eventually times out, but if I change the link to `{{kong admin public dns}}/apis?size=100&offset={{same offset id as before}}` I can successfully hit the next

[2016-11-02 23:22] CyExy commented on #32
Interesting it basically picks up the internal host, try doing the request again and set X-FORWARDED-HOST header to your public admin host. If that works you can specify custom headers in kongfig as well with `--header` option

[2016-11-03 02:55] williamhorstkamp commented on #32
Still doesn't work.

[2016-11-03 10:31] CyExy commented on #32
Make sure that your kong admin api definition has `preserve_host: true`

[2016-11-03 10:42] CyExy commented on #32
Another thing to look out for is if you have set e.g. `request_path: /kong-admin` and `strip_request_path: true` then the next URL will be incorrect, regardless of what you do.

Another option would be for kongfig to re-map query parameters onto the original URL, that would fix it. Strictly speaking, it's not playing nice with discoverable URLs, but I very much doubt it will be a problem.

[2016-11-03 18:12] williamhorstkamp commented on #32
Awesome, using `preserve_host` completely fixed the problem, setting `X-FORWARDED-HOST` was not necissary.

[2016-11-03 18:24] CyExy commented on #32
Great stuff, thanks for reporting it and helping me to fix some bugs :)

[2016-11-03 18:24] #32 closed

[2016-11-03 18:25] williamhorstkamp commented on #32
And thank you for jumping on the issue so quickly!

[2016-11-08 22:04] williamhorstkamp opened #55 "Will Kongfig continue development after Kong 0.10 releases?"
The next major version of Kong, `0.10` includes a CLI which provides a way to backup and apply configuration:
https://github.com/Mashape/kong/milestone/13

What are MyBuilder's plans in light of this? Are you planning to continue development, or re-evaluate the need after Kong 0.10 releases?

[2016-11-09 10:58] CyExy commented on #55
I'm not sure that the Kong `backup/import` is meant for applying config written by hand. It looks more like a database dump, as it is just applied directly from/to DAO/schema, and it doesn't appear to go through any validation either.

[2016-11-09 19:09] williamhorstkamp commented on #55
Excellent, I look forward to continuing to work with you guys then. 👍

[2016-11-09 19:12] #55 closed

[2016-11-09 19:13] williamhorstkamp opened #56 "Enabled setting not dumped"
When running `kongfig dump` the produced config does not include the `enabled` field for a plugin. This makes using kongfig to transfer a configuration from one Kong cluster to another that includes disabled plugins unwieldy since you have to do a find and replace to add the `enabled: false` line to each plugin you don't want enabled.

[2016-11-29 11:43] gavinlove commented on #46
I am mostly sure this was a problem with kong and your database than kongfig.

I think your migration hasn't happened.

[2016-11-29 11:43] #46 closed

[2016-11-29 11:44] #33 closed

[2016-11-29 11:49] #56 closed

[2016-11-29 21:29] thenayr opened #57 "Key-auth has to declare attributes.key"
I'm wondering why Kongfig makes declaring the key non-optional.

According to https://getkong.org/plugins/key-authentication/ , you should only be passing a pre-determined key if you are migrating from an existing API system,  otherwise kong itself will generate the key for you.

Is there a reason kongfig makes it a hard-dependency to pass a key attribute?

[2017-01-04 21:26] cmikeb1 commented on #57
+1, I'm also curious about this.

@CyExy, could you shed some light?

[2017-01-06 15:57] oviwankenobi opened #58 "I have a question about kongfig"
where I can send it to?

thanks

I have a kong installation already with Cassandra behind it; I need to export the current kong configuration to postgresql and move my current kong to postgresql; can kongfig help me out?
I installed it on my kong server and I issued a command to export to yml and I got the following error

Error: http://kong:8001/consumers/raphi mapuser@mailmail.com/acls: 404 Not

[2017-01-09 16:07] CyExy commented on #58
Hi, could you please send me what you get back from `http://kong:8001/plugins/enabled`

[2017-01-09 16:25] CyExy commented on #57
To be able to declare consumer keys declaratively; the key acts as an ID, and it allows kongfig to look up existing keys and diff which ones needs to be added/removed.

FIY any keys that are not found in the config file will be ignored; to revoke a key using kongfig you need to add `ensure: removed` to the key definition.

There are a few reasons for excluding consumers from kongfig. For example,

[2017-01-09 16:51] oviwankenobi commented on #58
hi thanks for helping, here it is:
{
  "enabled_plugins": [
    "ssl",
    "jwt",
    "acl",
    "correlation-id",
    "cors",
    "oauth2",
    "tcp-log",
    "udp-log",
    "file-log",
    "http-log",
    "key-auth",
    "hmac-auth",
    "basic-auth",
    "ip-restriction",
    "galileo",
    "request-transformer",
    "response-transformer",
    "request-size-limiting",
    "rate-limiting",

[2017-01-11 11:13] #58 closed

[2017-01-11 11:14] CyExy commented on #58
Just published `kongfig@1.2.23` that should fix your issue. This is actually Kong admin API issue where it doesn't like spaces in usernames.

[2017-01-11 17:15] oviwankenobi commented on #58
sweet! you are a life savior, thank you @CyExy

[2017-01-11 17:17] CyExy commented on #58
Your welcome, and thanks for reporting!

[2017-01-11 17:19] oviwankenobi opened #59 "error when apply is called second time if it was interrupted initially"
I issued an apply and it was interrupted cause I forgot to issue it in background and my session died.
when I re-issued the same command it failed -- see the error below;
background: the configuration has a lot of consumers, all the config settings were applied when the first apply was running except the creation of consumers; so when I re-issued the command I expected either to fail when trying t

[2017-01-11 17:21] oviwankenobi commented on #58
I have just reported another one
https://github.com/mybuilder/kongfig/issues/59
not as urgent as this one though :)

[2017-01-11 17:24] CyExy commented on #59
I have an idea what could be the issue, let me have a look.

[2017-01-11 17:33] #59 closed

[2017-01-11 17:33] CyExy commented on #59
`kongfig@1.2.24` fixes this issue, thanks!

[2017-01-12 13:52] oviwankenobi opened #60 "kongfig export is not exporting custom_id for consumers"
I have lost of consumers in configuration (>1000)
when I export to config.yml and the import it I do not have consumer custom_id (because the produced config.yml is not having it);
can you please fix this, it is very important for us, without the custom_id we can not authenticate the users on the upstream side. we are moving away from Cassandra and need to export from Cassandra and import in Postg

[2017-01-12 15:00] #60 closed

[2017-01-12 15:00] CyExy commented on #60
Thanks for reporting, `kongfig@1.2.25` fixes it.

[2017-01-12 16:17] oviwankenobi commented on #60
thank you!

[2017-01-12 18:27] oviwankenobi commented on #60
hnmmm I have spoken too soon, after installing this last version simple dump fails

Error: http://kong:8001/consumers/db703237-ba08-43b0-84a5-d40b17d083b2/acls: 500 Internal Server Error
 Error: http://kong:8001/consumers/db703237-ba08-43b0-84a5-d40b17d083b2/acls: 500 Internal Server Error
    at /usr/lib/node_modules/kongfig/lib/adminApi.js:113:25
    at run (/usr/lib/node_modules/kongfig/node_mo

[2017-01-13 09:16] oviwankenobi commented on #60
more info: this error it seems it is not related with latest version, I have installed the previous kongfig@1.2.24 version and it still repro-ing; that is weird. I am on a different machine now, that's the only difference; should I create a new issue?

[2017-01-13 10:16] CyExy commented on #60
Getting a 500 error is odd, I think you are hitting a connection or rate limit with nginx. What do you get in Kong logs?

[2017-01-13 12:05] oviwankenobi commented on #60
hmmm indeed in /usr/local/kong/logs/error.log I get

2017/01/13 06:53:41 [error] 32690#0: *502 [lua] responses.lua:99: handler(): FATAL: sorry, too many clients already, client: 127.0.0.1, server: , request: "GET /consumers/fc5d6413-bfa6-47eb-829d-da09372ab146/oauth2 HTTP/1.1", host: "kong:8001"

but why is that? is the tool spawning multiple connections in the same time?... how can I tune this so

[2017-01-13 12:18] gavinlove commented on #60
That is a postgres error, the quickest solution would be to increase the max number of postgres connections. What is your max kong connections? your postgres limit needs to be at that number plus 5 really as a minimum.

[2017-01-13 12:24] oviwankenobi commented on #60
postgres connection limit is 100
kong connections limit? ... I can't find where I an set that.
but how come instantly after I run the apply or dump it fails with this error? after I restarted postgres and kong and I know there's nobody hitting this server?

[2017-01-13 12:26] gavinlove commented on #60
You should look at this document, kong uses nginx as its platform. https://www.nginx.com/blog/tuning-nginx/

[2017-01-13 22:31] fplotnikov commented on #60
Hi
When we set postgre connections limit from 100 to 500 and start kongfig to migrate data system spawn 400 connections with 400 postgre  childs. System became very slow.

Is it normal? :)

[2017-01-13 22:32] oviwankenobi commented on #60
hmmm, I raised the postgres connection limit to 500 and it seems it is running but what I also observed is that it spawned 400 concurent connections. that is not right. why kongfig is doing this?

[2017-02-16 12:00] quanghiem opened #61 "500 Internal Server Error if more than 21 api end points set"
Hi,

I'm having a weird problem where I'm getting an `500 Internal Server Error` error when I try to add the 22nd api end point using Kongfig.

[code]

Here is the curl of the error URL:

[code]

After the 500 error occurs, all Kongfig apply and other commands throw the same 500 error:

[code]

Regular curl commands to localhost:8001 and localhost:8001/plugins work fine.

My setup is running the l

[2017-02-17 15:45] JnMik opened #62 "Would be nice to be able to change the logging format"
Hello guys

Because of JSON.parse (maybe prettyJson component too), JSON is indent in a nice way in stdout logging

https://github.com/mybuilder/kongfig/blob/master/src/core.js#L107

![image](https://cloud.githubusercontent.com/assets/4965516/23071320/eb2ae7c4-f4fb-11e6-8da4-fcd60e82b4f1.png)

That would be nice to be able to turn this off, to have 1 liner serialized json.

The reason why I am ask

[2017-02-18 18:15] CyExy commented on #62
Good idea, I don't think it would be hard to do.

[2017-02-23 16:04] quanghiem commented on #61
Found the problem.  It was my AWS RDS PSQL DB instance size of t2.micro.  That only allows 26 max connections, minus 3 reserved for the super user.

[2017-02-23 16:04] #61 closed

[2017-02-23 16:26] CyExy commented on #61
Still a bit odd, this might be related to another issue people have been reporting where kongfig is using too many connections.

[2017-03-05 03:43] c-knowles opened #63 "Kong 0.10 API format changes"
I thought worth creating a placeholder for the Kong 0.10 API format changes. Release notes are on https://github.com/Mashape/kong/releases but there are also a few changes to the API not explicitly listed.

So far I found the `apis` endpoint changes:
1. `request_host` -> `hosts`
1. `request_path` -> `uris`
1. `strip_request_path` -> `strip_uri`
1. Adds `retries`, `upstream_connect_timeout`, `upstr

[2017-03-15 10:55] CyExy commented on #63
Is the API schema change going to be a PC break?

[2017-03-15 10:57] CyExy commented on #63
Hmm.., the release doc actually says that it is not going to support the old format. So not sure can we maintain backwards compatibility or not.

[2017-03-16 13:26] c-knowles commented on #63
From the looks of things yes there's little in the way of compatibility. There could be some ways to maintain some basic compatibility in kongfig. For example if `uris` is one in length pass it through on the old format if we can detect the version. However, I think users can easily upgrade if instructions are provided. e.g. 1) upgrade kong, 2) take an export with a newer kongfig version.

[2017-04-10 19:27] Tombar commented on #63
Hello, any news about adding support for KONG v0.10?

[2017-04-11 16:04] rogoman commented on #63
A proposed fix for this: https://github.com/mybuilder/kongfig/pull/64

[2017-04-12 16:33] CyExy commented on #63
I think we need to support applying pre 10 kongfig files to kong 10. #64 deals with the dumping so I'll try to fix the `apply` side.

[2017-04-13 17:45] #63 closed

[2017-05-04 10:51] adamlc opened #65 "Anonymous setting in Auth Plugins"
The anonymous setting in auth plugins is a Consumer UUID, which get exported correctly, but obviously when kongfig imports it again the UUID is different from the one specified.

Is there a way kongfig could keep a reference to which consumer the key is for so it that can be recreated accurately afterwards with the new UUID?

[2017-05-05 16:55] smitchelus opened #66 "Load plugins that don't have config?"
Hi, I'm trying to load a global plugin that looks like:
[code]
The plugin does not have any configurable attributes and when I attempt to load this is generates an error:
[code]

If I add a bogus attribute it makes it further through the process and then, appropriately, errors out complaining about an unknown configuration field:
[code]
Can you confirm what I'm seeing, and do you see any reason th

[2017-05-05 17:29] CyExy commented on #66
Did you try adding an empty config, `config: {}`?

[2017-05-05 18:10] smitchelus commented on #66
Yes, I've tried the following and can confirm it generates the same error:
[code]

[2017-05-06 09:29] CyExy commented on #66
I'll do a fix but try to set it to `{}`

[code]

[2017-05-06 11:09] smitchelus commented on #66
Thanks, that did work. Honestly, I didn't realize that was legal YAML. Thanks for the clarification (I was thinking you were showing me a JSON representation the first time). I'm good to go at this point.

[2017-05-10 04:16] harryparmar opened #67 "Errors out when applying config"
POST 400 http://192.168.X.X:8001/apis/4f26e35a-d135-44e9-94e8-825124b4c3d3/pl
 { enabled: true,
  config:
   { remove: { querystring: {}, body: {}, headers: {} },
     rename: { querystring: {}, body: {}, headers: {} },
     add: { querystring: [Object], body: {}, headers: [Object] },
     replace: { querystring: {}, body: {}, headers: {} },
     append: { querystring: {}, body: {}, headers: {} }

[2017-05-10 16:37] bmaynard opened #68 "Rate limiting plugin issue with multiple consumers"
I have multiple rate plugins assigned to a single api but each record is assigned to a different consumer.

When I do a dump it doesn't export the consumer id:

[code]

and if I add `consumer_id` to the attributes and run apply, it just updates the one plugin record and won't create a new record (if its a new plugin assigned to a different consumer).

[2017-05-17 19:01] tophercullen opened #69 "Support new upstream api"
https://github.com/Mashape/kong/pull/1735

[2017-05-19 00:48] tophercullen opened #70 "Consumer plugins are unsupported"
I found this issue while Trying to configure the rate-limiting plugin various ways. See example config below

[code]

The result after running is something as follows:

[code]

This is not the desired outcome. Instead of two plugins being created for ID1, one with only an consumer_id and another with both consumer and api IDs, there is a singular plugin with a consumer_id. Meaning the global plugi

[2017-05-19 09:29] Boggin commented on #25
@JnMik PR is the correct way to make up to date Docker images. I needed one, however, just for the latest version. Based on @JnMik work (and others on Docker Hub) here's a simple Dockerfile to get started with.
[code]
Build the image.

    docker build -t my/kongfig:1.3.0 .

I use PowerShell and I can manage configurations with the following commands. This assumes you have a Kong container (named

[2017-05-22 16:24] tophercullen commented on #27
@CyExy I believe #71 would fix this as well

[2017-05-26 15:08] calvinlfer opened #72 "Validate an existing configuration"
Hello,

Is it possible to validate an existing Kongfig configuration without having to upload the configuration to the Kong server to verify if you have a valid configuration

[2017-05-29 02:59] bspaans opened #73 "Support for certificates and SNI"
Hi and thanks for a great tool!

As of 0.10 the SSL plugin is no longer included with Kong and I was just wondering if you'll be supporting the new certificate and SNI management endpoints?

[2017-05-31 11:25] tophercullen commented on #68
@CyExy I believe these are the same issues that #71 tries to address

[2017-05-31 14:23] tophercullen opened #75 "Consumer information unavailable unless a consumer was managed"
I'm working on a PR that allows the usage of usernames or custom_ids when configuring plugins. The idea being to map them to the kong consumer_id in that environment.

The problem I'm running into is that no consumer information is requested from the kong api (and thus available to other functions) unless there is a 'consumer' section in the config.  Example broken config

[code]

This results in

[2017-06-01 15:20] CyExy commented on #75
This is a great idea.

To keep in mind, there is an issue with consumers because with some use-cases you would want to manage consumers outside of kongfig, and if there are no consumers defined in the config file we ignore them. This is confusing because it just changes the API call to return an empty list instead of making the call to the Kong admin. https://github.com/mybuilder/kongfig/blob/mast

[2017-06-01 15:35] CyExy commented on #73
Thanks for submitting the issue. Supporting Certificate & SNI is a no-brainer.

[2017-06-01 16:01] CyExy opened #76 "Setup Kong in travis"
Add Kong to travis so we could add integration tests. Probably the simplest way would be to use docker.

[2017-06-04 14:26] sarraz1 commented on #70
Hello,
You right, i have reproduced the problems.

- With global plugin, when we declare 2 rate-limiting plugins for 2 différent consumers, kongfig considers the second declaration is a repetition of the first and raises a conflict error.
- With api plugins,  when we declare 2 rate-limiting plugins for 2 différent consumers, kongfig considers the second plugin is a repetition of the first and so,

[2017-06-04 20:56] #66 closed

[2017-06-04 20:58] #76 closed

[2017-06-11 16:13] CyExy commented on #72
Adding a command to do a diff between server state and local config should do the trick.

Considerations:
- diff command exit code
- unmanaged default values
- unmanaged definitions

[2017-06-11 16:30] CyExy commented on #65
Should allow `config.anonymous.custom_id` or `config.anonymous.username` instead of customer id.

[2017-06-12 08:55] CyExy opened #83 "Up CONTRIBUTING.md, guide for docker, integration tests, and yarn"

[2017-06-14 00:53] neilma commented on #72
@CyExy can you elaborate by giving an example? Did you mean git diff?

[2017-06-15 10:20] hiephm commented on #61
I just encountered this issue (I'm using Cassandra) and here the way for quick fix:
vim /usr/lib/node_modules/kongfig/lib/router.js
Search this lines:
[code]
and change it to
[code]
to limit consumers returned in each page, hence limit the connections

[2017-06-20 18:58] mrafieee opened #84 "kongfig apply"
kongfig apply does not sync with the dump file, if some endpoints get removed it does not reflect via apply command,

how can I delete endpoints from dump config and apply it?

[2017-06-20 19:06] CyExy commented on #84
kongfig follows a similar declarative configuration as Puppet where you need to explicitly declare what needs to be removed. This is because you might apply multiple configurations files, or choose to handle consumers outside kongfig.

For example, to remove an API you can use `ensure: "removed"`

[code]

[2017-06-21 16:32] mrafieee opened #85 "kongfig apply errors out"
my kong version is 0.10.3 and my dump is from 1.0.2 version
[code]
how can I get more details on error?

[2017-06-21 21:30] CyExy commented on #85
Can you submit a config that would reproduce it?

[2017-06-26 13:35] jonathan-kosgei commented on #73
@CyExy Any progress on this?

[2017-06-26 14:32] CyExy commented on #73
Sorry, have been busy with other stuff, hope to get some time to work on it.

[2017-07-04 05:35] jonathan-kosgei opened #86 "konfig dump doesn't work on Kong 0.11.0rc1"
Running konfig dump against kong 0.11.0rc1

[code]

Gives the error
[code]

[2017-07-25 09:44] luispabon opened #88 "kongfig - diff against API and automatically delete what's not on config"
When automating kong config deployments with kong, sometimes changes are made that remove elements from kong. I believe kongfig caters for this with the `ensure: present|absent` property on each object.

This however creates a great deal of technical debt. Cannot be removed until it's been deployed everywhere, which is difficult to keep track of.

It would be great if kongfig would compare the con

[2017-07-25 11:51] kjsteuer commented on #88
We ran into a similar issue recently where we removed a value from config, deployed, and expected the entry to be deleted. After digging, we understood why, however, it would be more intuitive to remove the entry in kong.

If worried about accidental deletion we could add a second step/command for asking would you want to delete the following entries not present in the konfig.

[2017-07-27 14:42] gaieges commented on #69
Seconded.  Would love the ability to add multiple upstreams/targets to an api via the config file.  Use case is using kong to route upstream to containers in a rancher cluster without using DNS and being able to control what containers belong to what api (ie swapping container sets in a blue/green deploy scenario)

[2017-08-03 15:58] merqurio commented on #86
I found that the error was due to the semantic versioning. Kong guys didn't add the necessary `-` for the release candidate to be compliant with http://semver.org/. It should be `0.11.0-rc1`.

I'm preparing Pull request

[2017-08-17 17:01] vl4d opened #90 "Kong v0.8.0 - error with pagination, wrong URL returned by Kong"
Good Day, My current Kong version is 0.8.0 I am about to upgrade to 0.10 which is why I am running the kongfig (first time in over 7 months)

My kong has about 124 plugins being returned by` /plugins` route.
I had done the pagination bit before, but it looks like kong returns a default kong url in the `json.next`.

I get the error:

![screen shot 2017-08-17 at 17 56 44](https://user-images.githubu

[2017-08-29 20:12] thehighlander opened #92 "konfig apply fails on repeat runs when applying request-termination to a specific consumer"
I'm attempting to set up a kongfig yml to apply the request termination plugin globally to enable OR-based multi-auth per [the multi-auth docs](https://getkong.org/docs/0.10.x/auth/#multiple-authentication).

Given this kongfig.yml:

    plugins:
      - name: request-termination
        consumer_id: anon
        attributes:
          enabled: true

    consumers:
      - username: anon
        cu

[2017-08-29 20:45] thehighlander commented on #88
I didn't want to thumbs-down you without an explanation. I felt just as odd about the ensure property at first, but we ended up using it to our advantage (or disadvantage from another viewpoint, I suppose). Rather than centrally manage our 'one true kongfig' for all of our apis, each microservice/repository has it's own. We like that model because it ensures a minimal deployment, less chance of co

[2017-08-30 18:01] thehighlander commented on #92
I've determined that the consumer_id needs to be the internal id. It can't be the consumer name or custom_id. Knowing that, I believe this means that I can't tie a plugin to a consumer using kongfig.

[2017-08-30 19:04] thehighlander commented on #92
Seems like a dupe of https://github.com/mybuilder/kongfig/pull/80.

[2017-08-30 19:04] #92 closed

[2017-08-30 20:47] jerizm commented on #90
I'm guessing you have an admin URL specified like this.
[code]

1. preserve_host is probably false so it returns `kong` as the hostname instead of the hostname you requested with.
2. The path needs to be stripped so `/kong/plugins` will map to `/plugins` but kong's admin api doesn't know that this stripped path needs to be appended to the next uri.

One way to work around these issues would be to

[2017-08-30 21:48] vl4d commented on #90
I see! I will take a look at the docs around this config.
Thanks! will close the issue.

[2017-08-30 21:48] #90 closed

[2017-09-12 12:20] mvanholsteijn opened #93 "setting the anonymous property on a plugin is not possible in a declarative way"
I want to configure the property 'anonymous' on the jwt authentication plugin.  As this requires the uuid of the consumer and I cannot set the uuid of the consumer in the kongfig file, it is not possible to do this in a declarative style.

The following desired configuration results in  {"config.anonymous":"the anonymous user must be empty or a valid uuid"}

[code]

Specifying the custom_id does n

[2017-09-18 03:34] senthil-nathan opened #94 "export/import from an external kong api gateway"
Is it possible to dump kong configuration using kongfig when its deployed externally (not localhost) ?

[2017-10-10 15:16] ddetoni opened #95 "kongfig dry-run"
Would be great to have a dry run command to validate the configuration before apply. Anyone working on this?

[2017-10-12 09:11] kevinpgrant commented on #94
@senthil-nathan yep, this works, I use it all the time to talk to non-localhosts - try `kongfig dump --https --host api.example.com:8001 --format screen` - should work as long as the machine with kongfig on can speak to the machine with kong (firewall ports open etc) - see `kongfig help dump` for all the options, you may need to drop the --https flag or edit the port number as appropriate for your

[2017-10-13 19:23] JnMik commented on #88
I like the ensure Property, if you want to add only 1 consumers through kongfig with a custom 1 entry yaml, I don't expect kongfig to delete all other consumers.

[2017-11-04 13:55] mo-mughrabi opened #96 "Env Variable substitution in config.yml"
Hello everyone,

kongfig is very cool, saved us tons of time, thank you. Is there a way to use env variable substitution  from env variable in config.yml file?

[2017-11-04 15:03] CyExy commented on #96
You can use the [JS](https://github.com/mybuilder/kongfig/blob/master/config.js.sample) config files to use env variables. If you like to have the config in YAML then you can import the config in js config file and change what you need and use the JS config with kongfig.

[2017-11-06 15:27] takearun opened #97 "API rate limited with different configs for different cosumers"
Hi,

What should be the kongfig yml declaration, to rate limit an API for two different consumers?
The below repetition of rate-limiting, only adds the latter consumer,

[code]

Appreciate your help.

Thanks,
Arun

[2017-11-06 15:32] takearun commented on #97
Just realised this is not possible with Kong, aarrgghh!!

[2017-11-06 15:39] takearun commented on #97
Oh sorry, I just realised, it is possible to have same API rate limited differently for different consumers. How to achieve this with Kongfig?

Thanks,
Arun

[2017-11-06 16:17] CyExy commented on #97
This is related to #80, that has been hanging for a while. It is almost there so I'll try to find some time to fix it up. I'll rebase it to latest master so anyone willing to help it would be appreciated.

[2017-11-06 16:19] #97 closed

[2017-11-10 18:04] hbagdi opened #98 "Use /key-auths endpoint to get all key-auths"
To get all the keys present in Kong, the approach currently being used is:

[code]

With https://github.com/Kong/kong/commit/18f3a0939396c69a2554b28551d0a853581ef2d1 merged into Kong, upcoming Kong releases will have and endpoint `/key-auths` which lists all the keys for all the consumers.
This will make the process of getting all the keys much more efficient!

To not break things with different K

[2017-11-15 20:37] laxman20 opened #100 "Option to suppress output"
Kongfig reveals api keys in its output when it runs. It would be nice if there was an option to suppress this without having to hide the entire output.

[2017-11-19 17:28] #69 closed

[2017-11-19 17:33] CyExy commented on #98
This would be a great addition, reducing the number of request kongfig makes is only a good thing.

[2017-11-19 17:38] CyExy commented on #93
This is merged into master https://github.com/mybuilder/kongfig/commit/7dcedc80b408382ae658453f910a6fb56c25c88c will be in the next release.

[2017-11-19 17:38] #93 closed

[2017-11-19 17:40] #84 closed

[2017-11-19 21:56] CyExy commented on #73
@jonathan-kosgei @bspaans Added a PR for this it would be great if you find time to check it out #102 thanks.

[2017-11-19 22:14] CyExy opened #103 "kongfig t-shirt giveaway"
I would like to say thanks to all the contributors to kongfig with a t-shirt, if interested please email me your postal address, t-shirt size etc to sten [at] mybuilder.com, and please add your github, or twigger username as well so I know who you are :)

PS! If you haven't contributed yet, and would still like to have a kongfig t-shirt just hit the ⭐   button above and drop me an email, and I'll

[2017-11-19 23:47] CyExy commented on #70
Closed by #80

[2017-11-19 23:47] #70 closed

[2017-11-20 18:12] prouwens opened #104 "Can't find a way to assigned a custom plugin to a consumer"
we have a custom plugin, that has to be applied and configure by customer.
Based on the documentation there is no way to do so.

[2017-11-20 21:08] CyExy commented on #104
There is a way to register custom auth plugins with `--credential-schema`. If that isn't what you are after could you please provide more details about the plugin?

[2017-11-20 22:46] prouwens commented on #104
hi,

Actually the plugin receive one parameter in the header and do some replacement. So it s not an actual authentication, more than a plugin that simply add something in the header, but as it s different by user I have to add it at consumer level.

[2017-11-21 20:18] CyExy commented on #104
Sounds like an authentication plugin, even if it just add a header.

[2017-11-21 20:20] CyExy commented on #104
This is an example of a [key auth](https://github.com/mybuilder/kongfig/blob/master/examples/key-auth.example.md). Aren't the curl calls similar to the ones done here for the auth plugin?

[2017-11-21 20:45] prouwens commented on #104
this is the curl call :
# Provisioning token for the created consumer
curl -i -X POST \
	--url http://localhost:8001/consumers/$1/myPlugin/ \
		--data "special_token=$3"

[2017-11-22 21:35] CyExy commented on #104
config.yml

[code]

[code]

[2017-11-29 09:38] kstromeiraos commented on #96
@CyExy could we avoid the use of JS config file and do ENV variable substitution directly on YAML file?

[2017-11-29 10:15] mo-mughrabi commented on #96
+1 @kstromeiraos

[2017-11-29 12:51] CyExy commented on #96
I can see how this would be useful. How would this look:

[code]
So `HOST=mockbin.com kongfig apply ...` would produce

[code]

[2017-11-29 18:11] kstromeiraos commented on #96
Looks good. And what do you think about this?

[code]

This way it would be more similar to Compose variables substitution.

[2017-11-29 21:33] CyExy commented on #96
That could work, although compose and JS template literals are both using curly braces so maybe `${HOST}` rather than `$(HOST)`

[2017-12-04 10:17] sebastianroesch opened #105 "Kongfig apply fails when paging required"
I apply my kongfig with the following command:
`kongfig apply --path config.yml --https --host my-host/admin --header apikey:some-key`

Here is the result:
[code]

It seems as if kongfig would use `localhost:8001` when getting the remaining pages of an endpoint instead of the provided host argument.

[2017-12-04 16:29] CyExy commented on #105
This is likely to be kong that is returning the wrong URL, I'll have a look.

[2017-12-05 22:22] millermatt opened #106 "[kong 0.9.9] `kongfig dump > kongfig.yml` errors `upstreams: 404 Not Found`"
Steps to reproduce:
[code]
Add an api & consumer, then run:
[code]
This results in:
[code]
I have kongfig installed locally, so my actual dump command is `./node_modules/.bin/kongfig dump > kongfig.yml`

I wonder if the relatively recent PR to support upstreams broke compatibility with Kong 9x.

[2017-12-05 23:18] millermatt commented on #106
My workaround is to uninstall `kongfig` and install `kongfig@1.3.0`

[2017-12-05 23:54] #106 closed

[2017-12-06 00:03] CyExy commented on #106
Thanks for submitting the issue, `kongfig@1.4.1` now available. PS! maybe you can help me with this issue #103 ;)

[2017-12-07 04:29] jameswestnz opened #108 "anonymous_username is an unknown field"
When running `kongfig apply`, I am getting the following error in the terminal:

[code]

Excerpt from config file (plugins is global, not under an api):

[code]

It seems the `anonymous_username` property only works when a plugin is defined under an API. Is this intended? I was hoping to define an anonymous user at the global level - maybe I'm missing something?

[2017-12-07 09:58] jameswestnz commented on #108
Looking at the source code that's being installed via `yarn`, it looks like version 1.4.1 doesn't have this feature?

Here's the function locally:

[code]

[2017-12-28 22:22] ankitml commented on #95
@ddetoni @CyExy Any starting points or file to look into implementing this? I can work on this if someone who knows internals of kongfig can throw some light.

[2017-12-28 22:26] ankitml commented on #95
I imagine it can be something like
```kongfig apply --path config.yml --dryrun```

[2017-12-30 16:17] kstromeiraos commented on #96
Hi @CyExy , is there some news about this feature?

[2018-01-02 20:16] sir-gon commented on #25
I have a similar aproach as @Boggin but using docker-compose.
My use-case is Continuous Integration, so I ca deploy my local environment changes to devel/qa/production environments using only CI scripts, git and configurations-as-code.

My Dockerfile (./docker/kongfig/Dockerfile):

[code]

I have some kong service defined in my main docker-compose.yml as:

[code]

And an ephimeral container in ano

[2018-01-04 21:58] kjsteuer opened #109 "Invalid Version on kong enterprise edition"
We recently started getting the following error on our konfig apply
[code]

One thing that is interesting is kongfig apply works fine in some of our environments running 0.29-enterprise-edition.  0.29 is the latest enterprise version, it maps to 0.11 CE.

We are running npm version 1.3.0. I tried updating to npm 1.4.1  and the issue happens immediately vs at the end of the api diff checks.

Happy

[2018-01-08 10:53] CyExy commented on #109
Probably the easiest fix is to strip postfix before comparing the version because it is irrelevant for the purpose we are using it for.

[2018-01-12 14:38] CyExy commented on #109
Fixed in `kongfig@1.4.2`

[2018-01-12 14:38] #109 closed

[2018-01-12 14:38] CyExy commented on #86
Fixed in `kongfig@1.4.2`

[2018-01-12 14:38] #86 closed

[2018-01-18 13:41] cliftonc opened #111 "Kong 0.12.0"
Are there plans to upgrade kongfig to work with 0.12.0?

I've forked the repo, and had a look at the changes - the issue seems to be around the changes to the upstream targets.

I'd be willing to take a look at a PR provided no one else is already busy beavering away at it?

[2018-01-30 16:07] cliftonc opened #112 "Fails on too many simultaneous API calls"
This may be a config issue with my Kong setup, but I have quite a lot of upstreams, and kongfig basically calls it so fast (with no delay) that it triggers rate limits / connection limits.

Can we put it into a mode where it calls serially and only ever make a single connection to Kong at a time?  The speed difference I'm sure would be marginal.

Errors:

[code]

On the following sort of access lo

[2018-01-30 16:10] cliftonc commented on #112
To update, the error is actually from postgres, not Kong.  But the question still applies re. can we slow it down.

[2018-01-30 17:00] gavinlove commented on #112
@cliftonc This is a problem with your setup, not Kongfig.

You should change your Postgres `max_connections` config this needs to be greater than the number of nginx [worker_processes](http://nginx.org/en/docs/ngx_core_module.html?&_ga=2.179412134.383176250.1517331487-2083802721.1515091668#worker_processes) * [worker_connections](http://nginx.org/en/docs/ngx_core_module.html?&_ga=2.120303882.38317

[2018-01-30 20:30] cliftonc commented on #112
Ok, thanks for the response, I'll bump the config our side (we are testing locally in Docker to confirm Kong meets our use case), but not _entirely_ sure I buy it entirely as an upstream problem.

In situations where there are large configurations (e.g. we have 150+ services, all with 3 targets each), which results in ~450 GET requests to the active target endpoint in rapid succession as it tries

[2018-01-30 23:39] CyExy commented on #112
Hi thanks for this, @gavinlove is right that this would become a problem if you later get too many users using your kong setup

but you can use this env variable to `EXPERIMENTAL_USE_LOCAL_STATE=1 kongfig apply ...` to reduce the connections a lot. This should work as expected but as the name says it is still little bit `experimental` so any feedback is welcome.

[2018-01-31 06:12] cliftonc commented on #112
I'll try that, thanks for your help and input, and for open sourcing this, it's a huge help and fits our config as code model perfectly.  We wouldn't be experimenting with Kong if this didn't exist.

[2018-01-31 06:12] #112 closed

[2018-02-04 16:23] #111 closed

[2018-02-04 17:16] #73 closed

[2018-02-04 23:26] CyExy commented on #108
Looks like the 1.4.1 release had gone wrong and an earlier version was published, in github it is correct but in npm registry it is incorrect. Please try again with 1.4.2.

[2018-02-04 23:27] #104 closed

[2018-02-04 23:29] CyExy commented on #85
Closing this as no response, please reopen if it keeps happening.

[2018-02-04 23:29] #85 closed

[2018-02-04 23:32] #57 closed

[2018-02-04 23:34] CyExy commented on #27
So possible now with using `username` in attributes that will be transformed to `consumer_id` when calling kong

[code]

[2018-02-04 23:34] #27 closed

[2018-02-05 15:54] bparthu commented on #88
When are we expecting this feature ? - #107

[2018-02-05 15:58] CyExy commented on #88
@bparthu cannot give you a date but it is happening soon, not 100% settled yet.

[2018-02-05 18:52] tophercullen commented on #100
@CyExy Running into a similar use case as I integrate kongfig into our CI environment. I think the default behavior should not output api keys as part of the normal logs.

[2018-02-05 22:43] CyExy commented on #100
Would this work for you? https://github.com/mybuilder/kongfig/pull/115

[2018-02-06 00:16] tophercullen commented on #100
That actually looks like a great. :+1:

[2018-02-06 12:53] janv8000 opened #116 "Make `dump` output more easily diffable"
The YAML output produced by a dump does not always retain the same order (between runs or between different instances).
## Output 1
[code]
## Output 2
[code]

The two outputs are functionally equivalent but comparing them is a bit more work.

Ideally `api`'s would be ordered by name/id, then plugins by name/id, then ...

[2018-02-06 20:59] CyExy commented on #116
This would fit in the try-run category of features, or in other words diffing the server state and your config file and getting an output that would show what would change if you would apply your config.

To understand more your reasoning and use-case; why is it useful to you to compare the outputs?

[2018-02-07 07:08] janv8000 commented on #116
We’ve got 3 environments with separate Kong’s running (dev, QA, production). Setup and configuration is mostly version controlled and automated. Being able to compare two Kong instances/environments however would enable spotting configuration drift …

Besides that in DEV we play around with the Kong configuration using https://github.com/PGBI/kong-dashboard, comparing the before and after would he

[2018-02-15 14:39] SSKasture opened #117 "Kongfig apply is not creating Basic-auth users"
This is my yml file

apis:
   - name: test
     ensure: present
     attributes:
           upstream_url: "http://loacalhost:80/test"
           request_path: /test
           strip_request_path: true
     plugins:
            - name: acl
              attributes:
                config:
                  whitelist: test_grp
            - name: rate-limiting
              attributes:

[2018-02-15 23:18] CyExy commented on #117
Hi it seems that you have `credentials` under `acls` group, and notice the test2 user password that should be a string

[code]

[2018-02-15 23:18] #117 closed

[2018-02-16 22:00] theoskolnik opened #118 "kongfig apply command uses default localhost instead of host parameter value"
When trying to apply kongfig to an API in Kong, the apply command explicitly sets a host parameter; however, the error shows a request being made to `http://localhost:8001`. Seems like the host is getting lost somewhere.

[code]

The kongfig.yml:
[code]

`kongfig --version: 1.3.0`

`npm --version: 4.0.5`

The error is coming from `node-fetch`, a transitive dependency of kongfig's `isomorphic-fetch

[2018-02-19 12:57] yvsssantosh opened #119 "Secured kong API gives 401 unauthorized"
Hi,

I'm running kong on GKE (Google Kubernetes Engine) and I have it exposed using a load balancer. Now that I don't want others to mess up my configuration I've added a basic auth using kong itself using username and password. Now I've made a lot of changes in the staging server which I'd like to copy to the production server.
When I'm using kongfig, I get

![screen shot 2018-02-19 at 6 23 33 pm

[2018-02-20 08:52] CyExy commented on #119
Should be able to use the `—header` option

[2018-02-20 23:36] theoskolnik commented on #118
After some investigation, we figured out that this is a pagination issue. When Kongfig runs an apply, it will also make a GET request to `admin_domain/apis` when there are over 100 APIs registered in Kong (which is the default limit for paginated results in json data). The json response returns a "next" token with the hostname; in our case, we are not getting back `admin_domain`, but are instead g

[2018-02-22 15:13] CyExy commented on #118
Sorry, it took so long to get back to you; I think we should be able to fix the issue by overriding the host for the next link when `--host` has been given. Would that work for you?

[2018-02-28 14:27] wjeanneau opened #120 "dump error with kong 0.12.1"
**Is this a BUG REPORT or FEATURE REQUEST?**
BUG REPORT

**Version of kong and kongfig:**
kong: 0.12.1
kongfig: 1.4.2

**What happened:**
The _dump_ command seems to be broken with those versions.

`# kongfig dump --host localhost:8001
Error: http://localhost:8001/upstreams/74d6359b-ed58-4198-9e1b-a441341948c2/targets/active/: 405 Not Allowed
 Error: http://localhost:8001/upstreams/74d6359b-ed58-4

[2018-02-28 14:35] Serikpa opened #121 "UPSTREAMS targets active : 405 Not Allowed"
Hi,

I use kongfig in my environment with kong 0.12.1.  When I run the following command:

I received the following error:

Error: http://localhost:8001/upstreams/74d6359b-ed58-4198-9e1b-a441341948c2/targets/active/: 405 Not Allowed
 Error: http://localhost:8001/upstreams/74d6359b-ed58-4198-9e1b-a441341948c2/targets/active/: 405 Not Allowed
    at /usr/lib/node_modules/kongfig/lib/adminApi.js:133:

[2018-02-28 14:38] Serikpa commented on #121
Duplicate issue

[2018-02-28 14:38] #121 closed

[2018-02-28 19:57] mburket opened #122 "upstreams.map is not a function error when passing jwt header"
Hi,

I am trying to secure my admin apis with jwt token. When I post to the kongfig i receive error. I wonder if it can't parse the "Bearer jwt" correctly since it has a space between "Bearer" and the token?

Here is an example of my command: kongfig apply --path file-name --https --host admin-url --header 'Authorization: Bearer jwt'

Here is the error i get: Kong version: 0.12.1
TypeError: upstre

[2018-02-28 20:32] CyExy commented on #122
Just released a new `kongfig@1.5.0` you please try upgrading

[2018-02-28 20:32] CyExy commented on #120
`kongfig@1.5.0` should fix this issue

[2018-02-28 20:51] wjeanneau commented on #120
My tests are passing. I'll let you know if i see something else.
Thank you for your work !

[2018-02-28 20:51] #120 closed

[2018-02-28 20:53] mburket commented on #122
hi, thanks for the quick turnaround. I installed the latest but still facing the same issue.
TypeError: upstreams.map is not a function
 TypeError: upstreams.map is not a function
    at /usr/local/lib/node_modules/kongfig/lib/kongState.js:27:44
    at Generator.next (<anonymous>)
    at step (/usr/local/lib/node_modules/kongfig/lib/kongState.js:17:191)
    at /usr/local/lib/node_modules/kongfig/l

[2018-02-28 22:31] CyExy commented on #122
It would be great to know what you get back from `/upstreams` with curl for example; is it actually the expected response, or a JSON error with `200 OK`.

If it is correct do you have a next url in the response and does it look correct?

[code]

[2018-02-28 22:56] CyExy commented on #118
@theoskolnik please could you test this PR https://github.com/mybuilder/kongfig/pull/123

Thanks

[2018-02-28 23:09] mburket commented on #122
hi,
I executed the curl command as you suggested. I set up my admin apis as suggested by Kong: https://getkong.org/docs/0.12.x/secure-admin-api/#kong-api-loopback

Thanks.

Here was my response:

HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Cache-control: no-cache="set-cookie"
Content-Type: application/json; charset=utf-8
Date: Wed, 28 Feb 2018 22:43:26 GMT
Server: kong/0.12.1
Via: kong/0.12.1
X

[2018-03-01 00:21] CyExy commented on #122
Thanks I now see what the problem is, will fix it tomorrow (GMT)

[2018-03-01 10:53] #122 closed

[2018-03-01 10:57] CyExy commented on #122
So what I would expect to see is the following (notice the `"data":[]`)

[code]

`kongfig@1.5.1` should fix it for you. Please let me know if this fixes it for you if not please re-open the issue.

[2018-03-01 14:23] hreidar opened #125 "version 1.5.x broke something"
Hi, I just updated kongfig via npm and it seems to have boke something:

[code]

[2018-03-01 15:23] mburket commented on #122
It works after the fix.  Thank you so much!

[2018-03-01 16:32] CyExy commented on #125
what node version are you running on?

[2018-03-01 17:03] CyExy commented on #122
No worries, let me know if you have any other issues.

[2018-03-01 17:04] #125 closed

[2018-03-01 17:08] CyExy commented on #125
`kongfig@1.5.2` should fix your issue.

FYI 4.x End-of-life is very near: [node release schedule](https://github.com/nodejs/Release#release-schedule)

[2018-03-01 17:31] CyExy commented on #108
This should be fixed, please re-open if still happening

[2018-03-01 17:31] #108 closed

[2018-03-01 17:32] CyExy commented on #105
Please could you look at https://github.com/mybuilder/kongfig/pull/123 this PR should fix your issue

[2018-03-01 17:35] CyExy commented on #100
Released now

[2018-03-01 17:35] #100 closed

[2018-03-02 12:27] CyExy commented on #119
`--header 'Authorization: ...'` should do the trick so closing it now, please re-open if you still having issues.

[2018-03-02 12:27] #119 closed

[2018-03-02 15:29] Rzozi opened #127 "Kongfig apply command Fails"
When Trying to apply a config to Kong with the following command:

kongfig apply --path /config.yml --host localhost:8001

I am Getting the error:

/usr/local/lib/node_modules/kongfig/lib/requester.js:70
  get,
     ^

SyntaxError: Unexpected token ,
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)
    a

[2018-03-02 16:42] CyExy commented on #127
It would be useful to know `kongfig --version` and `node --version`

Looks like a old node

[2018-03-02 17:23] #127 closed

[2018-03-05 22:00] Rzozi commented on #127
Yes it did the trick, Thanks and sorry for not putting all the infos in my first post.

[2018-03-07 01:07] prasad-marne opened #130 "Extend Kongfig Api schema"
Is it possible to extend kongfig apis schema? Currently our org needs some more info than defaults  supported by kong

[2018-03-18 02:09] nugrahawahyu opened #131 "Apply config error -- 500 internal server error"
kong version: 0.12.3

log:
[code]

[2018-03-18 02:28] nugrahawahyu commented on #131
it turns out that the problem is in my network

[2018-03-18 02:28] #131 closed

[2018-03-27 14:46] mburket opened #132 "Any plan to support endpoints of /services and /routes which are introduced in 0.13.x?"

[2018-04-02 22:16] lfventura commented on #132
Thumbs up

[2018-04-13 13:35] toopay opened #133 "Patch for Enterprise version"
I have tried to integrate this library with `0.11.0.3-enterprise-edition` but it thrown an exception, related with semver. If anyone interested, I can dig further and create a PR.

[2018-04-13 16:55] CyExy commented on #133
Thanks, PR is welcome.

[2018-04-13 16:56] CyExy commented on #133
Related https://github.com/mybuilder/kongfig/pull/129

[2018-04-13 16:57] CyExy commented on #130
It would be great to understand more of the use-case

[2018-04-20 17:27] toopay commented on #133
Great. I'll submit PR next week. Thanks @CyExy !

[2018-04-23 16:27] toopay commented on #133
Hey @CyExy I propose #134 as resolution to this issue - as well as promoting the cleanup of customized validation for enterprise edition by fully rely to semver coerce option. Lmk what you think.

[2018-04-25 17:15] sebastianroesch commented on #105
Thanks, my issue has been fixed in the meantime.

[2018-04-25 17:15] #105 closed

[2018-05-07 22:43] lfventura opened #136 "Support for Health Check on Upstreams"
Hello,

I have changed the code to add healthcheck support to upstreams, but I am not able to commit or create a new branch into this project. How should I do?

[2018-05-08 08:35] alister commented on #136
Hi there. The best thing you can do is to make a fork of this repo, and do the work on the code updates a branch in your own space. From there, you can create a pull request where the developers of this project can look at it, and hopefully have it merged into the main project.

There are a few tutorials on how to do all that, such as https://help.github.com/articles/creating-a-pull-request-from-a

[2018-05-08 15:42] lfventura commented on #136
Thanks Alister.
Looking at it right now

[2018-05-08 16:02] lfventura commented on #136
Thank you very much.
https://github.com/mybuilder/kongfig/pull/137

[2018-05-09 15:26] #136 closed

[2018-05-14 21:55] lfventura opened #138 "Target Upstream does not support state param"
If you update a target group it will keep the old ones + the new ones.
State/Ensure = False is ignored by the module nowadays, so a upstream target update needs manual action.

[2018-05-14 21:58] lfventura commented on #138
Sorry, I was wrong.

[2018-05-14 21:58] #138 closed

[2018-06-04 21:00] lfventura opened #139 "Support for RBAC"
It is possible to secure the Kong Enterprise API with RBAC, but it is not possible to run kongfig because there is no way to pass the credentials on.

https://getkong.org/docs/enterprise/0.32-x/setting-up-admin-api-rbac/

[2018-06-06 20:30] lfventura commented on #139
If someone gets into this same situation, you can use the  --header option passing the header with the authentication parameter.

[2018-06-06 20:30] #139 closed

[2018-06-11 22:03] lfventura opened #140 "When adding a new plugin to an existent api it doesnt updates kong"
Hello,

I have updated my original Kongfig .yml file adding a new plugin in an already existent API but it did not applied the new plugin to my API.

[2018-06-11 22:10] CyExy commented on #140
Hi, could you please submit an example config file?

btw, check for yml file indentation issues, sometimes this can be the problem

[2018-06-11 22:21] lfventura commented on #140
I think the problem is at Kong Enterprise itself... I tried via Curl and same thing happened.
I am investigating this further and I will keep you guys posted, but I think is a bug with my version.

I will close the issue for now as it doesnt looks related to kongfig.

[2018-06-11 22:21] #140 closed

[2018-06-11 22:21] CyExy commented on #140
Sure no problem.

[2018-06-17 05:51] viveknimkarde commented on #60
Did anyone find solution yet ?

[2018-06-20 15:47] mlehner616 commented on #132
Has anyone taken a swing at making a pull request for this yet?

[2018-06-22 21:46] lfventura commented on #132
I dont think so...
I am planning to to try to take it but I am in a middle of a project and I cant help for now

[2018-06-25 06:17] ktomk commented on #75
@CyExy: Could it be the pre-fetching of consumers which you described as being status-quo in your recent comment is limited and does not fully work? Is this perhaps already reported? (sorry for de-reailing this issue, I was not able to find a better matching one even I think this has been already reported).

[2018-06-27 16:25] mynameisgv opened #141 "Invariant Violation: Unable to find a consumer for"
Hello,

I had the same problem reported in issue-118.
I tried the branch fix-118.
Now i get

Invariant Violation: Unable to find a consumer for xxxxxx
I do not have any consumer definition in the config file. Only api, plugin(acl and auth)

Thanks

[2018-07-15 10:43] romanovskyj commented on #132
I am afraid I do not have an experience with nodejs, but as a temporary solution, I have implemented a utility that can export and import services with routes: https://github.com/romanovskyj/gongfig probably it can be useful for somebody.

[2018-07-27 03:56] waytoavnish commented on #141
Any update on this?
Facing same issue

[2018-07-30 11:57] liyuntao commented on #132
for anybody who needs service/route defination:  you can try my brand new project fhttps://github.com/liyuntao/kong-init written in rust(Just download the binary in /release page).

Currently supporting api-defination, service/route defination and plugins with a convenient yaml file.

[2018-08-10 06:48] aragorn3012 commented on #141
I have the same problem running Kongfig v1.5.3 against Kong 0.12.3 - both running in Docker.
Kongfig has been working fine for the last 12 months, until I added the first _consumer specific_ plugin in Kong.

After succesfull creation of a consumer specific plugin, every attempt to change the Kong configuration with Kongfig fails with the following error:

[code]
With `5f905965-2fa9-4887-ad76-a03cc

[2018-08-27 16:06] eamonnmcevoy opened #145 "ensure flag doesn't work with consumer credentials"
In my kongifg file I have a test consumer with basic auth credentials, when I run kongfig (after the initial run) I get an error:

[code]

I tried using the ensure flag for this but it didn't help

[code]

Is there a way to ensure this consumer will be present in kong

[2018-09-04 13:26] GreensterRox opened #146 "kongfig apply gives 400 Bad Request with custom plugins"
Hello,

When running

`kongfig apply --path /my/file.json`

with custom plugins I get

[code]

It seems to trip up on the first custom plugin, is there a way around this?

Thanks !

[2018-09-16 07:39] empeje opened #147 "What is recommended options to make the YAML definition modular?"
I maintain an API gateway with a lot of APIs and with 100+ APIs plus multiple plugins each, I want to make the YAML definition of the API separate or modular so that I can organize the config for each project, but when I update it I'll update it in an atomic way (all the config).

I know one of the solutions is to use `yq` to preprocess all the YAML and merge it together before pipe it to the kong

[2018-09-18 03:28] albertux commented on #72
@neilma if you have your yaml files in git repo yes git diff help

[2018-10-11 09:31] wiryawan46 opened #151 "Add more than one upstream url"
How to add more than one upstream url?
Other upstream url is for health check private api that i made. Thank you.

[2018-10-22 23:03] mynameisgv commented on #141
Please let me know if anyone has a solution for this.

[2018-10-23 16:15] mynameisgv commented on #141
I tested this with branch. feat/consumer-refs.
This branch works fine.  @CyExy was this branch merged to master?
https://github.com/mybuilder/kongfig/pull/80 mentions some were merged to master.
can you please confirm.

[2018-11-19 15:04] romanovskyj commented on #132
As far it is still not resolved I have fully completed my configuration tool so with help of this you can easily export/import/flush kong configuration so you can propagate it to different installations, wipe it etc. Do not hesitate to open an issue if you any questions/comments regarding it.

[2018-12-10 10:22] ojizero commented on #141
As far as I can tell this issue happens only when there are plugins defined for a specific consumer, while having the `ignoreConsumer` option set to `true` (either explicitly or implicitly by not defining it in the Kongfig schema).

Example is defining schema as

[code]

Running it as is would work all the time, but if you define a consumer manually and attach any plugin to it, this is when the er

[2019-01-09 09:52] julienlau commented on #68
Maybe it should be closed then

[2019-02-12 17:14] max-l-weaver opened #156 "konfig fails when run inside bash loop"
kongfig version: `1.5.3`

We run kongfig inside a bash loop that loops over a list of *.yml files and runs a `kongfig --path $PATH` for each one, so our script looks like this:

[code]

which has worked fine until recently, when we're getting the following errors per loop:

[code]

However if I run each one manually they work without issue.

[code]

Any advice would be great,, thanks!

[2019-02-15 14:42] alex-vasilchenko-md opened #157 "Kongfig 1.5.3 doesn't work with Kong 1.0.3 Error: http://localhost:8001/apis: 404 Not Found"
Hi! I get this issue:

kongfig dump --host localhost:8001 > config.yml
Error: http://localhost:8001/apis: 404 Not Found
 Error: http://localhost:8001/apis: 404 Not Found
    at /Users/alex/.npm-packages/lib/node_modules/kongfig/lib/adminApi.js:139:25
    at process.internalTickCallback (internal/process/next_tick.js:77:7)

kongfig version is 1.5.3
Kong version is 1.0.3

http://localhost:8001/apis

[2019-02-15 15:07] alex-vasilchenko-md commented on #157
I tried a quick dirty fix for experiment:
`
switch (name) {
            case 'apis':
                return adminApiRoot;
            case 'api':
                return adminApiRoot + params.name;
            case 'api-plugins':
                return adminApiRoot + params.apiId + '/plugins';
            case 'api-plugin':
                return adminApiRoot + params.apiId + '/plugins/' + params.p

[2019-02-20 01:22] seonixx commented on #157
@alex-vasilchenko-md did you manage to resolve this?

[2019-02-20 08:15] alex-vasilchenko-md commented on #157
Well, @seonixx , I'm not good at node :) I saw the root of the issue - and I tried a dirty fix really quick to get rid of "/apis" in endpoints paths.
But since version 1.x Kong API changed quite a lot and proper fix requires more work. Not sure that kongfig supports breaking changes of 0.13.x version when Kong introduced  separate"service" object: there is no such object here https://docs.konghq.c

[2019-02-20 10:32] shuu56 commented on #157
@alex-vasilchenko-md

I also encountered a similar error.
dump was possible by modifying the file under "kongfig/lib".

Change: "apis" as "services"

File:
node_modules/kongfig/lib/adminApi.js
node_modules/kongfig/lib/router.js
node_modules/kongfig/lib/actions.js
node_modules/kongfig/lib/mapConsumers.js
node_modules/kongfig/lib/syncConfigs.js
node_modules/kongfig/lib/core.js
node_modules/kongfig/l

[2019-02-20 10:40] alex-vasilchenko-md commented on #157
I didn't make it to the point when dump and then apply worked properly with my dirty fix. @shuu56 , please let us know if your fix worked well.

[2019-02-20 11:26] shuu56 commented on #157
@alex-vasilchenko-md

I also failed to import.
When exporting, mandatory information (id of service, route etc.) defined in service was not taken.
It seems that import failed because those information was missing.

It is difficult for me to renovate, because it is necessary to link Service Id and Route, so I will give up this time.

I'm sorry.
I wish I could help you out.

[2019-03-25 15:23] guushamann commented on #157
have the same error

apis not found, which is correct because the apis route is removed from kong in 1.03

[2019-04-10 19:32] robert-ovens commented on #157
I've loved kongfig and kudos to the creators. There are more DS tools around we are currently investigating [deck](https://discuss.konghq.com/t/deck-declarative-configuration-for-kong/2614) as we  migrate from 0.14 to 1.x Kong.

[2019-05-03 10:47] takearun opened #160 "kongfig apply seems to fail when the consumer size is more than 100"
We have two ways to create entities in Kong (0.11.2)
Kongfig (to create APIs/Consumers) and  a custom built API portal to manage consumers.

Now we have defined more than 100 consumers. And we see issues when we run kongfig apply,
this is the exact error message,

[code]
Looking at adminApi.js, it seems to have limits like these,
[code]

Now I am not sure that's the reason for the issue I am facin

[2019-05-23 13:10] lasitha1991 opened #161 "kongfig fails when trying to dump in version 1.x.x because /apis endpoint is no longer available"
Kong version: 1.1.2

following commnd fails with the below error message.

$ kongfig dump --host localhost:8001 > config.yml
Error: http://localhost:8001/apis: 404 Not Found
 Error: http://localhost:8001/apis: 404 Not Found
    at /usr/lib/node_modules/kongfig/lib/adminApi.js:139:25
    at processTicksAndRejections (internal/process/task_queues.js:89:5)

I assume this is because http://<kong-host>

[2019-12-12 09:15] Gui13 commented on #65
This won't work since the anonymous is supposed to be the actual UUID of the anonymous user:

https://docs.konghq.com/hub/kong-inc/basic-auth/

[2020-02-20 23:29] shashankagundla opened #162 "PATCH method not working on service routes"
Hi All,

I'm having trouble updating my services routes using kongfig. Currently kongfig is not allowing PATCH method to update my routes. Receiving an error saying method is not allowed. My Kong version is KONGA 0.13.0.

If anyone has any idea how to solve please let me know. Thanks.

[2020-03-03 17:19] dgonzalezc opened #163 "kongfig fails when triyng to apply changes from a file"
**Version of kong: 0.13**

step to reproduce:
**1.- kong admin running on docker toolbox, IP 192.168.99.100:8001
2.- file dump in the local directory
3.- Executing kongfig apply --path file.yml --host 192.168.99.100:8001**

**Error**:
POST http://192.168.99.100:8001/consumers
 { username: 'si_re_td' }
201 Created { created_at: 1583255363000,
  username: 'si_re_td',
  id: '7b5b6f71-0166-42b8-ba6a-e

[2020-03-11 12:55] janv8000 commented on #163
What's the error logged in the Kong logs, eg. `/usr/local/kong/logs/error.log` ?

[2020-03-11 19:19] dgonzalezc commented on #163
Kong logs inside the container:
total 0
-rw-r--r--    1 root     root             0 Feb 21 13:56 error.log
-rw-r--r--    1 root     root             0 Feb 21 13:56 admin_access.log
-rw-r--r--    1 root     root             0 Feb 21 13:56 access.log
/usr/local/kong/logs # tail error.log -f

Kong container logs:
$ docker logs 002092d1107a -f --since 1s > docker_logs.txt
2020/03/11 19:15:34 [error] 1

[2020-03-11 20:46] dgonzalezc commented on #163
it could be a postgres max_connections config issue?

kong=# show max_connections;
 max_connections
-----------------
 100
(1 row)

kongfig apply command is sending several request to the datastore over the api of kong(in my case postgresql 9.6)

That could explain the "FATAL: sorry, too many clients already" message

[2020-03-12 06:19] janv8000 commented on #163
I had the exact same problem yesterday.

We’re still using a pre 1.0 version of Kong and I believe they fixed a connection keep-alive issue after 1.0, possibly related: https://github.com/Kong/kong/pull/3423.

My resolution was to set the limit to 1000.
That’s an unreasonable high number according to PG best practices but we only use PG for Kong and are in progress of upgrading to 1.0+… After whic

[2020-03-12 13:48] dgonzalezc commented on #163
i tested kong migrations up for update the datastore and run a new worker with kong 0.14.1 but does not work either, kong guys mention that a improvement was made to kong for scripting request over the admin api

https://github.com/Kong/kong/issues/3440

but it doesn't work

[2020-03-12 17:51] dgonzalezc commented on #163
Changing the max_connections to 1000 throw me the following errors:

$ docker logs 2d0b2b7ce625 -f --since 10s | grep err
2020/03/12 17:43:20 [error] 47#0: *214325 recv() failed (104: Connection reset by peer), client: 192.168.99.1, server: kong_admin, request: "GET /consumers/e18178ec-f30d-
46ee-a23b-ffb2b7b6c278/key-auth HTTP/1.1", host: "192.168.99.100:8001"
2020/03/12 17:43:20 [error] 47#0: *2

[2020-04-11 19:08] #103 closed

[2020-05-25 06:54] janv8000 commented on #163
What's the difference between those two error logs?

[2020-05-25 13:58] dgonzalezc commented on #163
setup:
- docker toolbox
- kongfig 1.5.3
- dump file generated

step first error:
- postgres 9.6 with max_connections=100(default)
- kong 0.13.1

steps second error:
- postgres 9.6 with max_connections=1000
- kong 0.14.1

next steps:
- test kongfig dump/apply with kong 0.15.0
- default postgres 9.6 max_connections config